body {
    font-family: 'Roboto', sans-serif;
}

anchor:hover,
button:hover {
    cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++ Header ++++++++++++++++++++++++++++++++++++++ */
 
.sticky-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    max-width: 2001px;
    padding: 0 16px;
    border-bottom: 0 #D3D3D3;
    background-color: #fff;
    box-shadow: 0 0px .5px 1px #D3D3D3; 
}

.sticky-header * {
    display: inline-flex;
}

.sticky-header a {
    text-decoration: none;
}

.left-nav {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    height: 56px;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 8px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 750;
    opacity: .4;
    border: none;
    background-color: #fff;
}

.nav-icon {
    margin-right: 16px;
}

.logo-wrapper {
    height: 24;
    width: 129;
}

.logo-container {
    width: 80px;
    height: 19px;
    background-image: url("../images/logoYoutube.png");
}

.logo {
    height: inherit;
    width: inherit;
}

.search-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 90%
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0 40px;
}

.search-bar-container {
    width: 590px;
    height: 32px;
    padding: 2px 0 2px 0;
    margin: 1px 0;
    
}

input {
    width: 590px;
    padding: 2px 4px;
    border: 1px solid #d3d3d3;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 1px 2px #eee;
    border-radius: 2px;
}

.search-button {
    position: relative;
    right: 2px;
    display: flex;
    height: 32px;
    width: 60px;
    margin: 0;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    justify-content: center;
    background-color: #f8f8f8;
}

.right-nav {
    padding: 8px;
}

.sign-btn {
    height: 40px;
    width: 85px;
    padding: 10px 16px;
    border: none;
    background-color: #fff;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 550;
    letter-spacing: 0.007px;
}


/* ++++++++++++++++++++++++++++++++++++++ Main Video ++++++++++++++++++++++++++++++++++++++ */

.main-page {
    display: flex;
    padding: 25px 98px;
}

.video-and-comments {
    display: inline-flex;
    width: 1379px;
    height: 4038px;
}

.video-captions {
    width: 1280px;
    height: 64px;
    padding: 20px 0 0 0;
}

.caption-top h1 {
    font-size: 18px;
    font-weight: 400;
}

.caption-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 40px;
}

.caption-bottom p {
    display: inline-flex;
    font-weight: 400;
    opacity: .7;
}

.like-bar {
    display: inline-flex;
}

.like-bar * {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    opacity: .7;
    text-decoration: none;
    color: #000;
}

.thumb {
    width: 58px;
    padding-right: 8px;
}

.like-bar-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    padding: 8px;
    margin-left: 8px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
}

.like-bar-item-button:hover {
    opacity: 1;
}

.like-bar-item span {
    font-weight: 500;
}

.lb-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    padding: 8px;
    margin-left: 8px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
}

.main-video hr {
    margin: 2px;
    border: .3;
    opacity: .4;
}

/* ++++++++++++++++++++++++++++++++++++++ Video Bar ++++++++++++++++++++++++++++++++++++++ */


.video-bar {
    width: 402px;
    padding-left: 24px;
}

.vb-head {
    width: 402px;
    height: 22px;
    margin-bottom: 12px;
}

.vb-head span {
    font-size: 16px;
    font-weight: 400;
}

.autoplay {
    display: inline-flex;
    float: right;
    align-items: center;
    justify-content: flex-end;
}

.toggle-switch {
    display: inline-flex;
    align-items: center;
    width: 62px;
    height: 22px;
    margin-left: 8px;
}

.ts-base {
    display: inline-flex;
    width: 36px;
    height: 14px;
    margin: 1px 4px;
    border-radius: 10px;
    background-color: #93C9F2;
}

.ts-button {
    position: relative;
    left: 12px;
    bottom: 4px;
    width: 20px;
    height: 20px;
    margin: 1px 4px;
    border-radius: 100%;
    background-color: #2793e6;
    opacity: 1;
}

.autoplay span {
    color: #888;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
}

.vl-video-head {
    display: flex;
    width: 402px;
    height: 94px;
}

.vl-video-body {
    display: flex;
    width: 402px;
    height: 94px;
    padding-bottom: 8px;
}

.thumbnail {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 168;
    height: 94px;
    margin-right: 8px;
    background: linear-gradient(45deg, red, blue);
}

.playtime {
    display: inline-flex;
    align-items: center;
    width: 25.6px;
    height: 14px;
    margin: 4px;
    background: #111;
    opacity: .9;
}

.playtime span {
    font-size: 12px;
    color: #fff;
}

.vlv-info {
    display: inline;
    height: 82px;
    width: 132px;
    width: auto;
}

.vlv-info h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 4px;
}

.vlv-info h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    opacity: .8
}

.video-list hr {
    margin: 16px 0;
    border: .3;
    opacity: .4;
}

.more-button {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #888c;
    background-color: #eee;
}







